@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  box-sizing: border-box;
  background: #e5e5e5;
  margin: 0;
  padding: 0;
}

.main-page {
  position: relative;
  background: #ffffff;
  margin: 0;
  text-align: left;
  width: 375px;
  padding: 30px 15px 15px 15px;
  display: inline-grid;
  grid-template-rows: 100px 310px 310px 100px;
}
.greeting,
.preTrending {
  border-bottom: 1px solid lightgray;
}

.trendFullPage,
.newRealesesBtn {
  font-style: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  text-decoration: none;
}

.posters {
  width: 370px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* background-color: red; */
  margin-top: 20px;
}
.posters::-webkit-scrollbar {
  display: none;
}
.posters::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.posters::-webkit-scrollbar-track {
  background: transparent;
}
.posters > img {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 140px;
  height: 220px;
  margin-right: 4px;
  border-radius: 4px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posterImg {
  height: 220px;
  width: 140px;
  margin: 20px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}
.addFavIcon {
  width: 20px;
  display: block;
  position: absolute;
  font-size: 30px;
  background-color: red;
  z-index: 100;
}
.navigation {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  background: rgba(244, 244, 244, 0.75);
  backdrop-filter: blur(50px);
  border-radius: 20px 20px 0px 0px;
  justify-items: center;
  padding: 25px;
  border-style: none;
  outline: none;
  margin: 0px;
  position: fixed;
  bottom: 0;
  min-width: calc(100% - 72%);
  z-index: 10;
  margin-left: -15px;
}
.exploreBtn,
.favBtn {
  background: transparent;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  border-style: none;
  outline: none;
}
.icon {
  font-size: 20px;
  margin-right: 7px;
  font-weight: normal;
}
.exploreBtn:hover,
.favBtn:hover {
  background: #ffffff;
}

.trendPosters {
  display: grid;
  grid-gap: 1em 1em;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: repeat(2, 1fr);
}

.oneBook {
  height: 100%;
  margin: 0px 400px auto;
  text-align: center;
  width: 375px;
  padding: 30px 20px 20px 20px;
  position: relative;
  display: block;
  background: #ffffff;
  border-radius: 20px;
}
.bookImg {
  box-shadow: 0px -4px 50px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  width: 200px;
  height: 300px;
  margin: auto;
}
.bookDetail {
  border-top: 1px solid #9f9f9f;
  display: grid;
  grid-template-columns: 160px 110px 110px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}
.upperRow {
  color: #9f9f9f;
  margin-bottom: 0px;
  font-size: 12px;
}
h4 {
  margin-top: 5px;
}
.synopse {
  text-align: left;
  color: #9f9f9f;
  margin-bottom: 0px;
  font-size: 12px;
}

.synopseText {
  text-align: left;
  color: #232323;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 100px;
}
span {
  font-weight: bold;
}
.bookFooter {
  display: grid;
  grid-template-columns: 30px auto;
  margin: 0px;
  cursor: pointer;

  /* position: fixed;
  
  z-index: 100; */
}
.add {
  min-width: 80%;
  position: relative;
  display: inline-block;
  background: #000000;
  border-radius: 100px;
  color: white;
  backdrop-filter: blur(50px);
  border-radius: 20px 0px 0px 0px;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  border-style: none;
  outline: none;
  margin: 0;

  height: 100px;
  margin-left: 25%;
}

.addText {
  display: inline-block;
  margin: 20px;
}
.returnIcon {
  display: block;
  left: 0;
}

.favs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  white-space: 30px;
}

h5 {
  text-align: center;
}
